@charset "UTF-8";
/* CSS Document */

html body {
background-color: rgb(198, 198, 198);
}
.purple-col{
    background-color: blueviolet;
    color: rgb(162, 96, 96);
}
.yellow-col{
    background-color:darkgoldenrod
    
}
.grey-col{
    background-color:rgb(118, 118, 118);
    color: rgb(174, 109, 109);
}

.calibri-regular {
    font-family: "calibri", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-style: normal;
}
.calibri-bold {
    font-family: "calibri", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.bg-body-tertiary{
    background-color: rgb(150, 58, 255);
}

.nav-link{
    color: #15096c !important;
}

.nav-link:hover{
    color: #350079 !important;
}

.navbar-brand{
    color: #270074 !important;
}

.active{
    color: #19007f !important;
    
}

.navbar-toggler{
    filter: invert(100);
}

h1 {
    font-size: 1.802em;
    font-weight: 400;
}

h2 {
    font-size: 1.424em;
    font-weight: 700;
}

h3 {
    font-size: 1.802em;
    font-weight: 400;
}

p{
    font-weight: 400;
}

.footer-mehdi{
    text-align: center;
}

.footer-mehdi{
    text-align: center;
}

.btn-primary{
    background-color: #994b4b;
    border-color:#994b4b;
}

.btn-primary:hover{
    background-color: #270074;
}

.carousel-padding{
    padding-left: 125px;
    padding-right: 125px;  
    color: black;
}

 
.carousel-control-next-icon{
    background-color:#994b4b;
}

.carousel-control-prev-icon{
    background-color: #994b4b;
}